/* Parent Container */
.footer-container {
  width: 100%;
  background-color: #ebeeef; /* Light background for the main content */
  padding: 16px 0;
  font-family: Arial, sans-serif;
}

/* Footer Content Section */
.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /* Center and constrain width */
  margin: 0 auto;
  padding: 0 16px;
}

.footer-section {
  flex: 1;
  margin: 0 16px;
}

.footer-heading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-list-item {
  font-size: 1rem;
  margin-bottom: 4px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-list-item:hover {
  color: #007b83; /* Highlight on hover */
}

/* Footer Bottom Section */
.footer-bottom {
  background-color: #002f34; /* Dark background for the footer bottom */
  color: whitesmoke;
  text-align: center;
  padding: 12px 16px;
  font-size: 0.9rem;
}

.footer-bottom p {
  margin: 4px 0;
}

.footer-icon {
  width: 24px;
  height: 24px;
  margin-left: 50%; /* optional spacing */
  ;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    margin: 16px 0;
  }
}
